body{
    font-family: Arial, sans-serif;
}
/* container style */
.container{
    width: 300px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.299);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

/* labe style */
label{
    display: block;
    margin: 5px;
}

/* input box style */
input[type="number"]{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.calculate{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
}

.reset{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#result {
    margin: 10px;
}
